# Importing the Libraries

In [1]:
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense

# Data preprocessing

### Import the Dataset

In [2]:
data = pd.read_csv("C:\\users\\manideepreddy\\OneDrive\\Desktop\\New folder (2)\\Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### Encoding Categorical values

In [4]:
lb = LabelEncoder()

In [5]:
data["Geography"] = lb.fit_transform(data["Geography"])

In [6]:
data["Gender"] = lb.fit_transform(data["Gender"])

In [7]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [8]:
data.shape

(10000, 14)

### Dropping unwanted columns

In [9]:
data.drop(["RowNumber","CustomerId","Surname"],axis = 1,inplace = True)

In [10]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [11]:
x = data.iloc[: , :-1]
y = data.iloc[: , -1]

In [12]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [13]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64


# Splitting the dataset into Training and Testing

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 101)

In [15]:
x_train.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
6861,605,2,1,41,5,103154.66,1,0,0,143203.78
9881,687,2,0,40,1,0.00,2,1,0,8207.36
4536,642,0,0,55,7,0.00,2,1,1,101515.76
8430,612,0,0,38,7,110615.47,1,1,1,193502.93
6765,461,0,0,40,7,0.00,2,1,0,176547.80

In [16]:
y_train.head()

6861    0
9881    0
4536    0
8430    0
6765    0
Name: Exited, dtype: int64

# Future Scaling

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

# Building and ANN

### Intializing the ANN

In [18]:
ann = Sequential()

### Adding the Input layer and the First layer

In [19]:
ann.add(Dense(units = 6,activation = "relu"))

### Adding the Second hidden layer

In [20]:
ann.add(Dense(units = 6,activation = "relu"))

### Adding the third hidden layer

In [21]:
ann.add(Dense(units = 1,activation = "sigmoid"))

# Training the ANN

### Compiling the ANN

In [22]:
ann.compile(optimizer = "adam",loss = "binary_crossentropy",metrics = "accuracy" )

In [23]:
ann.fit(x_train,y_train,batch_size = 32,epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7691
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4755 - accuracy: 0.7983
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4544 - accuracy: 0.7983
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4446 - accuracy: 0.7981
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4395 - accuracy: 0.7981
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4366 - accuracy: 0.7983
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4344 - accuracy: 0.7989
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4325 - accuracy: 0.8067
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4307 - accuracy: 0.8077
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4282 - accuracy: 0.8155
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4245 - accuracy: 0.8184
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4188 - accuracy: 0.8265
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4122 - accuracy: 0.8299
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4056 - accuracy: 0.8334
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3988 - accuracy: 0.8359
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3936 - accuracy: 0.8379
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3886 - accuracy: 0.8418
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3828 - accuracy: 0.8460
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3778 - accuracy: 0.8468
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3740 - accuracy: 0.8479
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3696 - accuracy: 0.8510
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3668 - accuracy: 0.8524
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3637 - accuracy: 0.8537
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3608 - accuracy: 0.8569
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3593 - accuracy: 0.8560
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3566 - accuracy: 0.8571
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3548 - accuracy: 0.8574
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3529 - accuracy: 0.8587
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3519 - accuracy: 0.8568
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3506 - accuracy: 0.8594
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3495 - accuracy: 0.8580
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3485 - accuracy: 0.8577
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8584
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3463 - accuracy: 0.8589
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3455 - accuracy: 0.8571
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8584
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8585
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3431 - accuracy: 0.8584
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8589
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8596
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8604
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8594
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8626
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8605
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8612
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8626
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8614
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3374 - accuracy: 0.8610
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8624
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8614
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8620
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8618
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8611
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8626
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8616
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8606
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8621
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8629
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8631
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8631
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3349 - accuracy: 0.8622
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8620
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8630
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8633
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3342 - accuracy: 0.8620
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8621
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3341 - accuracy: 0.8631
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8631
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8633
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8639
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8634
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8645
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8643
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8627
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8635
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8640
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8639
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8616
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8627
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8637
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8630
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8639
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8618
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8630
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8624
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8633
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8636
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3327 - accuracy: 0.8640
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8630
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8643
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8635
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8629
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8634
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8645
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8618
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8630
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8625
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8641
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8650
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8636

# Predicting

### Predicting new values

In [24]:
ann.predict(sc.transform([[0,600,1,40,3,60000,2,1,1,50000]]))

1/1 [==============================] - 0s 127ms/step

array([[1.]], dtype=float32)

### Predicting the Test Set

In [32]:
pred = ann.predict(x_test)
pred

63/63 [==============================] - 0s 2ms/step

array([[0.02383143],
       [0.02966523],
       [0.53317004],
       ...,
       [0.06372414],
       [0.2571727 ],
       [0.38828647]], dtype=float32)

In [37]:
pred = pred > 0.5

# Confusion Matrix and Accuracy Score

In [41]:
from sklearn.metrics import accuracy_score,confusion_matrix
print(confusion_matrix(y_test,pred))
accuracy_score(y_test,pred)

[[1509   68]
 [ 199  224]]

0.8665